@{
    ViewData["Title"] = "StokAzalt";

}
<h1>Stok Azalt</h1>
<div class="justify-content-center">
    <p class="text-center"><b>Satılan Ürün Bilgileri</b></p>
</div>
<div class="justify-content-center">
    <dt>Ürün ID:</dt>
    <dd>@ViewBag.ID</dd>
    <dt>Ürün Adı:</dt>
    <dd>@ViewBag.UrunAdi</dd>
    <dt>Ürün Fiyatı</dt>
    <dd>@ViewBag.UrunFiyati</dd>
</div>