<h1>Index</h1>
<div class="justify-content-center">
    <h1 class="btn btn-danger"@ViewBag.Tarih</h1>
        <br />
</div>

<div class="justify-content-center">
    @foreach(var item in ViewBag.Koleksiyon)
    {
        <p>@item</p>
    }
    </div>

